@model RAQ_Store.ViewModels.ProductCategory

@{
    ViewBag.Title = "Cart";
    Layout = null;

}

@foreach (var item in Model.Product)
{
    foreach (var car in Model.cart)
    {
        if (item.id == car.product_id)
        {
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">

                            <span type="button" class="btn input-group-addon">@Html.ActionLink("Remove", "RemoveCart", new { id = car.product_id })</span>

                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.name) - @Html.DisplayFor(modelItem => item.price)
                            </p>
                            <p class="card-text"> @Html.DisplayFor(modelItem => car.added_at)</p>

                        </div>
                    </div>
                </div>
            </div>
            <hr />
}
    }
}



